.hero img{
    border: 1px solid beige;
    border-radius: 100px;
    margin-top: 100px;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 40px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background: text;
    color:red
   
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect .anchor-link{
    padding: 25px 45px;
    border-radius: 50px;
    background: #df8908;
    cursor: pointer;
}
.hero-resume a{
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid #df8908;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    transition: all 0.3s ease;
}
/* .hero-action .hero-connect  AnchorLink:hover{
    border: 2px solid white;   
} */
.hero-connect .anchor-link:hover{
      border: 2px solid white;   
 }
.hero-resume a:hover{
    border-color: white;
    transform: scale(1.1);
    transition: 0.5s;
     padding: 27px 78px;
    
}
@media(max-width:768px){
    .hero img{
        margin-bottom: 60px;
        width: 250px;

    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

     .hero-connect{
        margin-bottom:50px ;
     }

    .hero-connect .anchor-link{
        padding: 20px 50px;
        border-radius: 40px;
       

    }
    .hero-resume a{
        padding: 20px 50px;
        border-radius: 40px;
    }
}