.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 17px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    /* background-image: linear-gradient(267deg, #DA7C25 0.36%, #dd1f6e 1.1%); */
    background-image: linear-gradient(45deg,#eb4c0d,#dd28a4);
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.navbar ul li:hover{
    background: linear-gradient(45deg,#eb4c0d -6%,#dd28a4 100%);
    padding: 10px 15px;
    transform: scale(1.1);
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}
.anchor-link{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav-close-icon{
    display: none;
}
.nav-open-icon{
     
     border-radius: 5px;
     display: none;
      
     background:linear-gradient(270deg, #eb4c0d -5%,#b415ff 100%);
   
}

@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-open-icon{
        display: block;
        position: fixed;
        right: 30px;
        background:linear-gradient(270deg, #eb4c0d -5%,#b415ff 100%);
        
    }
    .nav-close-icon{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
        background-color: #f01818;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        
        
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        background-color: linear-gradient(270deg, #f01818 -50%,#f15e19 100%);

    }
    .nav-menu li{
        font-size: 30px;
        padding-left:100px;
        flex-direction: row;
        gap: 20px;
    }
}